@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
html {
  margin: 0;
}
body{
  background: url('bg_black.png') no-repeat;
  background-size: cover;
  color: #fff;
  font-family: 'Trade Winds', cursive;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
h3{
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
}
.container{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
}
.grid{
  width: 20vw;
  height: 40vw;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  border: 1px solid silver;

}
.side{
  display: flex;
  flex-direction: column;
}
.grid div{
  height: 2vw;
  width: 2vw;
}
.tetromino{
  background-color:none;
}
.test{
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
#start-button{
  justify-content: center;
  background: transparent;
  border: 1px solid silver;
  width: 120px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}
#start-button:hover{
  background: #fff;
  color: #333;
}
.mini-grid {
  margin-left: 70px;
  min-width: 80px;
  width: 4vw;
  min-height: 80px;
  height: 4vw;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.mini-grid div {
  min-height: 20px;
  height: 1vw;
  min-width: 20px;
  width: 1vw;
}

.skull-img {
  margin: 30px 0;
  width: 55%;
  min-width: 300px;
  height: auto;
}

/* Media */
@media screen and (min-width: 1025px) {
  .container {
    height: 100%;
  }
}
